# Configurações do servidor IMAP
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_SECURE=true
IMAP_USER=seu_email@gmail.com
IMAP_PASS=sua_senha_de_app

# Configurações do servidor
PORT=3000
BASE_URL=http://localhost:3000

# Quantos emails buscar (mais recentes)
EMAIL_FETCH_LIMIT=5

# Pasta do email a ser lida
IMAP_MAILBOX=INBOX
